<center>
  <%= simple_form_for [answer, @comment] do |form| %>
      <p>
        <input name="id" type="hidden" value=<%= @question.id %>
        <h4><%= form.label :Comment %></h4><br>
        <%= form.text_area :description, :required => true, :class => "comment_text_area" %>
      </p>
    <p>
      <%= form.submit "Comment", :class => "btn btn-success" %>
    </p>
  <% end %>
</center>