<html>
  <head>
  </head>
  <body>
    <h3><%= @question.title %></h3>
    <%= @question.description %><hr>

    <center>
      <h3><u><%= @answers.count %> Answers</u></h3>
    </center><br>

    <% @answers.each do |answer| %>
      <p><%= answer.description %></p>
    <% end %><br>

    <center>
      <%= form_for [@question, @answer] do |form| %>
        <p>
          <h2><%= form.label :Your_answer %></h2>
          <%= form.text_area :description %>
        </p>
        <p>
          <%= form.submit "Answer" %>
        </p>
      <% end %>
      <%= link_to '<button class="btn btn-info" type="button">Back</button>'.html_safe, questions_path %>
    </center>
    <br><br>
  </body>
</html>