<html>
  <head>
  </head>
  <body>
    <h3><%= @question.title %></h3>
    <%= @question.description %><hr>

    <center>
      <h3><u><%= @answers.count %> Answers</u></h3>
    </center><br>

    <% @answers.each do |answer| %>
      <%unless @answers.last == answer%>
        <p><%= answer.description %></p>
        <% answer.comments.each do |comment| %>
          <p><%= comment.description %></p>
        <% end %>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1">Add a Comment</button>
        <div class="collapse multi-collapse" id="multiCollapseExample1">
          <div class="card card-body">
            <%= render partial: 'comment_form', locals: {:answer => answer, :comment => @comment, :question => @question} %>
          </div>
        </div>
        <hr><br>
      <% end %>
    <% end %><br>

    <center>
      <div id="render_answer_form" >
        <%= render partial: 'answer_form', locals: {:question => @question, :answer => @answer } %>
      </div>
    </center>
    <br><br>
  </body>
</html>