<html>
  <head>
    <title>StackOverflow</title>
  </head>
  <body>
    <center>
      <table class="table">
        <%= @answers.each do |answer| %>
          <tr>
            <td><%= @answer.description %></td>
            <td><%= @answer.number_of_likes %></td>
            <td><%= @answer.number_of_dislikes %></td>
            <td><%= @answer.number_of_comments %></td>
          </tr>
        <%= end %>
      </table>
    </center>
  </body>
</html>