<!-- <html>
  <head>
    <title>StackOverflow</title>
  </head>
  <body>
    <center>
      <h1><u>Your Answer :-</u></h1>
      <%= form_with scope: :answer, url: answers_path, local: true do |form| %>
        <p>
          <%= form.label :description %><br>
          <%= form.text_field :description %>
        </p>

        <p>
          <%= form.submit %>
        </p>
      <%= end %>
    </center>
  </body>
</html> -->