<div class="navbar-fixed-top" id="nav_main">
  <div id="logo_image">
    <%= link_to image_tag("stackoverflow_logo.png", :size => '220x50'), "http://localhost:3000/" %>
  </div>
  <div id="nav_buttons">
    <% if user_signed_in? %>
      Welcome <strong><%= current_user.first_name %> <%= current_user.last_name %> | </strong>
      <%= link_to '<button class="btn btn-info" type="button">Edit profile</button>'.html_safe, edit_user_registration_path %> |
      <%= link_to '<button class="btn btn-danger" type="button">Logout</button>'.html_safe, destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to '<button class="btn btn-primary" type="button">Sign up</button>'.html_safe, new_user_registration_path %> |
      <%= link_to '<button class="btn btn-info" type="button">Login</button>'.html_safe, new_user_session_path %>
    <% end %>
  </div>
</div>
<br><br><br><br>
