<!DOCTYPE html>
<html>
  <head>
    <title>StackOverflow</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <br>
    <p class="navbar-text float-right">
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>.
        <%= link_to '<button class="btn btn-info" type="button">Edit profile</button>'.html_safe, edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to '<button class="btn btn-danger" type="button">Logout</button>'.html_safe, destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <% else %>
        <%= link_to '<button class="btn btn-primary" type="button">Sign up</button>'.html_safe, new_user_registration_path, :class => 'navbar-link'  %> |
        <%= link_to '<button class="btn btn-info" type="button">Login</button>'.html_safe, new_user_session_path, :class => 'navbar-link'  %>
      <% end %>
    </p>
    <br><br>
    <%= yield %>
  </body>
</html>
